<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="perfTapCounterSampling" type="PerfTap.Configuration.CounterSamplingConfiguration, PerfTap" />
  </configSections>
  <perfTapCounterSampling sampleInterval="00:00:10"
                          metricHost="stats.accelera.com.br"
                          metricHostPort="2003"
                          metricPrefix="perftap.{0}">
    <definitionFilePaths>
      <definitionFile path="CounterDefinitions\\system.counters" />
      <definitionFile path="CounterDefinitions\\aspnet.counters" />
      <!-- <definitionFile path="CounterDefinitions\\dotnet.counters" /> -->
      <!-- <definitionFile path="CounterDefinitions\\sqlserver.counters" /> -->
      <!-- <definitionFile path="CounterDefinitions\\webservice.counters" /> -->
    </definitionFilePaths>
    <filters>
      <filter expression="isatap" />
      <filter expression="teredo" />
    </filters>
  </perfTapCounterSampling>
</configuration>